{% extends 'base.html.twig' %}

{% block body %}

	<br/>
	{# if there is a validation error, display it #}
	{% if error is defined %}
		<p class="error_message">{{error}}</p>
	{% endif %}

	{# user logs on via form #}
	<form name="login_attempt" action="{{ path('login_validate') }}" method="post">		
		<div class="col-md-4">
		</div>
		<div class="col-md-4 centered">
			<div class="input-group detail">
				<span class="input-group-addon">Username</span>
				<input type="text" class="form-control" name="username"><br>
			</div>
			<br/>
			<div class="input-group detail">
				<span class="input-group-addon">Password</span>
				<input class="form-control" type="password" name="password"><br>
			</div>
			<br/>
			<input class="btn btn-default" type="submit" value="Login">
		</div>
	</form>
{% endblock %}

