{% extends 'base.html.twig' %}

{% block body %}
    <p>
    	{# if there is a validation error, display it #}
    	{% if error is defined %}
    		<p class="error_message">{{error}}</p>
    	{% endif %}

    	{# user logs on via form #}
		<form name="login_attempt" action="{{ path('login_validate') }}" method="post">
			Username: <input type="text" name="username"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="Login">
		</form>
	</p>
{% endblock %}

