{% extends 'base.html.twig' %}

{# links to login or sign up #}
{% block body %}
    <p>
		<a href="{{ path('login') }}"> Login </a>
	</p>
	<p>
		<a href="{{ path('signup')}}"> Sign Up! </a>
	</p>
{% endblock %}

